<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard.css') }}">
    <title>Admin Dashboard</title>
</head>
<body>

    {% include 'layout/admin_nav.html' %}

    <div class="main-container">
        <div class="header-section">
            <h1>Dashboard</h1> <!-- Added Manage Employees Heading -->
        </div>
        <!-- Dashboard Cards -->
        <div class="dashboard-cards">
            <div class="card card-blue">
                <a href="/admin/employees">
                    <div class="card-title">Employee List</div>
                    <div class="card-value">{{ employee_count }}</div>
                </a>
            </div>

            <div class="card card-yellow">
                <a href="/admin/shifts">
                    <div class="card-title">Shifts</div>
                    <div class="card-value">{{ shift_count }}</div>
                </a>
            </div>

            <div class="card card-purple">
                <a href="/admin/attendance">
                    <div class="card-title">Total Attendance</div>
                    <div class="card-value">{{ attendance_count }}</div>
                </a>
            </div>

            <div class="card card-orange">
                <a href="/admin/user">
                    <div class="card-title">Users</div>
                    <div class="card-value">{{ user_count }}</div>
                </a>
            </div>

            <div class="card card-green">
                <a href="/admin/attendance?status=on_time">
                    <div class="card-title">Early</div>
                    <div class="card-value">{{ on_time_count }}</div>
                </a>
            </div>

            <div class="card card-red">
                <a href="/admin/attendance?status=late">
                    <div class="card-title">Late</div>
                    <div class="card-value">{{ late_count }}</div>
                </a>
            </div>
        </div>

        <!-- Divider -->
        <hr class="section-divider">

        <!-- Recent Attendees Section -->
        <div class="recent-attendees">
            <div class="chart-title">Recent Attendees</div>
            <div class="attendee-list">
                {% for attendee in recent_attendees %}
                <div class="attendee">
                    <div class="attendee-card">
                        <img src="{{ url_for('static', filename='uploads/' + (attendee[2] if attendee[2] else 'default_profile.png')) }}" alt="Profile Picture">
                        <div class="attendee-details">
                            <p class="attendee-name">{{ attendee[0] }} {{ attendee[1] }}</p>
                            <p class="check-in">Check In: {{ attendee[3] }}</p>
                            <p class="check-out">Check Out: {{ attendee[4] if attendee[4] != 'None' else 'Not Checked Out' }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>

    <script>
            // Sidebar Toggle
            const sidebar = document.querySelector('.sidebar');
            const toggleBtn = document.querySelector('.toggle-btn');
            const mainContainer = document.querySelector('.main-container');

            toggleBtn.addEventListener('click', () => {
                sidebar.classList.toggle('active');
                if (sidebar.classList.contains('active')) {
                    mainContainer.style.marginLeft = '260px'; /* Adjust margin when sidebar expands */
                } else {
                    mainContainer.style.marginLeft = '80px'; /* Default margin */
                }
            });
    </script>
</body>
</html>
