<div class="sidebar">
    <div class="sidebar-logo">
        <img src="/static/images/ears-logo.png" alt="EARS Logo">
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-header">ATTENDANCE</li>
        <li><a href="#">Attendance Form</a></li>
        <li><a href="#">History</a></li>
        <div class="section-divider"></div>
        <li class="sidebar-header">PROFILE</li>
        <li><a href="#">My Profile</a></li>
        <div class="section-divider"></div> 
        <li class="sidebar-header">REPORT</li>
        <li><a href="#">Print Report</a></li>
    </ul>
</div>

